body{
}

/*--------------------------Diseño estrellas----------------------------------*/
.ec-stars-wrapper {
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(8, 139, 52);
}

.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}

/*------------------------------------------------------------------------------------*/
.botonBarra {
  background-color: rgb(243, 243, 243); 
  border: none;
  color: gray;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: right;
  
}

.botonBarra:hover{
  background-color: rgb(65, 65, 65);;
  color: white;
  border:none;
}

.botonCerrar {
  background-color: rgb(210, 50, 45); 
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: right;
  
}
/*----------------------Botones Main/Anuncios-----------------------------------------*/

.btn-group .button {
  background-color: #FFFFFF; 
  border: 1px solid rgb(189, 189, 189);
  color: gray;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
.btn-group .butS {
  background-color: rgb(210, 50, 45);; 
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
.btn-group .button:hover {
  background-color: rgb(210, 50, 45);;
  color: white;
  border:none;
}
/*---------------------BOTONES DE PUBLICACIONES--------------------------------------------------*/

.btn-fila .botonf {
  background-color: rgb(189, 189, 189); 
  border: none;
  color: black;
  padding: 10px 53px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;


}
.btn-fila .botonS {
  background-color: rgb(59, 59, 59); 
  border: none;
  color: white;
  padding: 10px 53px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;



}
.btn-fila .botonf:hover {
  background-color: rgb(59, 59, 59);
  color: white;
  border:none;
}
/*-----------------------------------------------------------------------*/

.totalback {
  background: url(../img/background.png) no-repeat center center;
  background-size:cover;
  height: 700px;
  background-repeat: repeat;
}
.back {
  background: url(../img/background.png) no-repeat center center;
  background-size:cover;
  height: 200px;
  background-repeat: repeat;
}

#title{
  text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  font-size:90px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  
  
}
#title2{
  text-shadow: rgb(0, 0, 0) 0px 0px 10px;
  font-size:50px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#contenedor{
  background-color: #f8f9faa1;
  border-radius:15px;
  padding:2%;

}

#registro {
  width: 840px;
  margin: 25px auto;
}


/*----------------------Diseño para pag publicar----------------------*/
.signup {
  float: left;
  width: 350px;
  padding: 30px 20px;
  background-color: white;
  text-align: center;
  border-radius: 5px 0 0 5px;
}

.whysign {
  float: left;
  background-color: white;
  width: 450px;
  height: 516px;
  border-radius: 0 5px 5px 0;
  padding-top: 20px;
  padding-right: 20px;
}

h1 {
  color: rgba(0,0,0,.7);
  font-weight: 900;
  font-size: 2.5em;
}

h4 {
  color: rgba(0,0,0,.5);
  font-weight: 900;
  font-size: 1.5em;
}

div.bor {
  background-color: lightgrey;
  width: 400px;
  padding: 50px;
  margin: 20px;
}

[type=value] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0,0,0,.4);
}


p {
  color: rgba(0,0,0,.6);
  font-size: 1.2em;
  margin: 50px 0 50px 0;
}
/*-----------------------------------------------------------------------------------------*/

.publi {
  float: center;
  background-color: white;
  width: 450px;
  height: 395px;
  border-radius: 0 5px 5px 0;
  padding-top: 20px;
  padding-right: 20px;
}

img{
  max-width:100%;
}

.service-image{
  max-width:30%;
  padding-bottom:10px;
}

.logoCircle{
	max-width:10%;
}
.logoHorizontal{
	max-width:25%;
	max-height:100px;
}
.message-image{
	max-width:30%;
	max-height:50px;
}
.message{
	background-color:#1bcc69;
	border-radius:20px;
}